body {
    font-family: 'Nunito', sans-serif;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
}

.container-fluid {
    margin-left: 260px;
}

.card {
    border-radius: 10px;
    text-align: center;
}
