@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

.card {
  border-radius: 12px;
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  color: #333;
}

.navbar-brand {
  font-weight: bold;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.btn-sm {
  font-size: 0.9rem;
}

.nav-link.text-danger {
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link.text-danger:hover {
  color: #dc3545 !important; /* Vermelho Bootstrap */
}

/* Responsividade da Tabela */
.table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {

  .table th,
  .table td {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 576px) {

  .table th,
  .table td {
    font-size: 12px;
    padding: 6px;
  }

  .btn-sm {
    font-size: 12px;
    padding: 4px 8px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}